.model-card-img {
    max-width: 387px;
    max-height: 387px;
    display: flex;
    justify-content: center;
    align-content: center;
    object-fit: cover;
    width: 100%;
    height: auto;
}

.model-card-row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: baseline;
    align-content: space-around;
    gap: 20px 20px;
}

.model-card-div-elem {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    align-content: space-around;
    gap: 10px;
}

.fixed-top-search-bar {
    position: sticky;
    top: 2px;
    z-index: 5;
    background-color: #141313;
    padding: 15px;
}
