.model-card-img {
    max-width: 387px;
    max-height: 387px;
    display: flex;
    justify-content: center;
    align-content: center;
    object-fit: cover;
    width: 100%;
    height: auto;
}

.model-card-row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: baseline;
    align-content: space-around;
    gap: 20px 20px;
}

.model-card-div-elem {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    align-content: space-around;
    gap: 10px;
}

.model-card-button-overlay {
    position: relative;
}

.model-card-bottom-text-overlay {
    position: relative;
    color: aqua;
    font-size: 0.9rem;
    top: 100%;
    transform: translate(-50%, 0%);
}

.model-card-previous-image-button,
.model-card-next-image-button {
    color: aqua;
    background-color: rgba(0, 0, 0, 0);
    border-color: rgba(0, 0, 0, 0);
    font-size: 1.3rem;
    font-weight: bold;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
}

.model-card-previous-image-button:hover,
.model-card-next-image-button:hover {
    font-size: 2rem;
    color: rgb(207, 17, 210);
}

.model-card-previous-image-button:focus,
.model-card-next-image-button:focus {
    --pico-primary-focus: rgba(0, 0, 0, 0);
}

.model-card-previous-image-button {
    left: 10%;
}

.model-card-next-image-button {
    left: 90%;
}

.fixed-top-search-bar {
    position: sticky;
    top: 2px;
    z-index: 5;
    background-color: #141313;
    padding: 15px;
}
